/* #dekstop1-img {
    height: 90vh;
    width: 100%;
 
  } */
  
  .background {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      /* url("https://i.imgur.com/x3TzdPA.jpg"); */
      url("https://thumbnails.expedia.com/1o7MaAllweOQQIEof91v1NNOaVM=/500x333/smart/filters:quality(60)/exp.cdn-hotels.com/hotels/2000000/1530000/1528800/1528788/dffafa2c_y.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
   
  }

  .heading {
    font-size: 80px;
    line-height: 90px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    margin: 5rem; 
    letter-spacing: 2px;
    text-align: center;
    padding-top: 80px;

  }

  /* @media only screen and (max-width: 768px) { */
 .heading{
     font-size: 60px;
    }
  /* }  */